<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Hakuna Matata</title>
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" type="text/css">
	<!-- Custom Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Mrs+Sheppards%7CDosis:300,400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800;' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css" type="text/css">
	<!-- Plugin CSS -->
	<link rel="stylesheet" href="/stylesheets/css/animate.min.css" type="text/css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/stylesheets/css/style.css" type="text/css">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]> -->
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

	<script src="angularJS/myHome.js"></script>
	<![endif]-->
</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top"><img src="/images/HM1.png"></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a class="page-scroll" href="#page-top">Home</a>
				</li>
                <li>
                    <a class="page-scroll" href="#events">Events</a>
                </li>
				<li>
					<a class="page-scroll" href="#about">About</a>
				</li>
				<li>
					<a class="page-scroll" href="#Make a Difference">Make a Difference</a>
				</li>
				<li>
					<a class="page-scroll" href="#contact">Contact</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<!-- Section Intro Slider
================================================== -->
<div id="carousel-example-generic" class="carousel intro slide">
	<!-- Indicators -->

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<!-- First slide -->
		<div class="item active" style="background-image:url(https://media.tenor.co/images/ca80e902bbe81a52408d6967469e5c56/tenor.gif)">
			<div class="carousel-caption">
				<h1 data-animation="animated bounceInUp">
					Hakuna Matata </h1>
				<h2 data-animation="animated bounceInDown">
					It means no Worries!! </h2>
				<a href="/signinHM" class="btn btn-ghost btn-lg" data-animation="animated fadeInLeft">Log In</a>
				<a href="/signupHM" class="btn btn-primary btn-lg" data-animation="animated fadeInRight">Sign Up</a>
			</div>
		</div>
		<!-- /.item -->
		<!-- Second slide -->
	</div>
	<!-- /.carousel-inner -->
	<!-- Controls (currently displayed none from style.css)-->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<!-- /.carousel -->




<!-- Section Services
================================================== -->
<section id="events">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<!-- begin 1st row -->
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<div class="section-heading"><i><b>GEEK</b></i></div>
					<a href="/geekEvents">
						<img src="/images/geek.png" alt="" class="img-responsive" width="301" height="239">
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<div class="section-heading"><i><b>FREAK</b></i></div>
					<a href="/freakEvents">
					<img src="/images/freak.png" alt="" class="img-responsive" width="301" height="239">
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<div class="section-heading"><i><b>LOVER</b></i></div>
					<a href="/loverEvents">
						<img src="/images/lover.png" alt="" class="img-responsive" width="301" height="239">
					</a>
				</div>
			</div>
		</div>
		<!-- end 1st row -->
		<br/>
		<div class="row">
			<!-- begin 2nd row -->
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<div class="section-heading"><i><b>ADVENTURER</b></i></div>
					<a href="/adventureEvents">
						<img src="/images/adventurer.png" alt="" class="img-responsive" width="301" height="239"></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<h1> </h1>
					<h1> </h1>
					<br><br><br>
					<h2 class="section-heading"><b>Today <br>I feel like</b></h2>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<div class="section-heading"><i><b>FRIENDS</b></i></div>
					<a href="/friendsEvents">
						<img src="/images/friends.png" alt="" class="img-responsive" width="301" height="239">
					</a>
				</div>
			</div>
		</div>
		<!-- end 2nd row -->
	</div>
</section>
<div class="clearfix">
</div>



<!-- Section Testimonials
-->
<div class="clearfix">
</div>
<section id="funfacts" class="parallax parallax-image" style="background-image:url(https://media.giphy.com/media/B4jfJqiIxvU08/giphy.gif);">
    <div class="wrapsection">
        <div class="container">
            <div class="parallax-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="funfacts text-center">
                            <div class="icon">
                                <i class="fa fa-tint"></i>
                            </div>
                            <h2 class="counter" data-from="0" data-to="294" data-speed="2500"></h2>
                            <h4>Happy Clients</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="funfacts text-center">
                            <div class="icon">
                                <i class="fa fa-trophy"></i>
                            </div>
                            <h2 class="counter" data-from="0" data-to="163" data-speed="2500"></h2>
                            <h4>Awards Received</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="funfacts text-center">
                            <div class="icon">
                                <i class="fa fa-send-o"></i>
                            </div>
                            <h2 class="counter" data-from="0" data-to="317" data-speed="2500"></h2>
                            <h4>Letters Sent</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="funfacts text-center">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <h2 class="counter" data-from="0" data-to="458" data-speed="2500"></h2>
                            <h4>Hired People</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section Portfolio
================================================== -->
<section id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading"><b><i>Moments Captured</i></b></h2>
				<hr class="primary">
				<br/>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<img src="/images/Downloads.jpg" width="1300" height="600">
	</div>
</section>

<!-- Section Pricing
================================================== -->
<!-- Section About
================================================== -->
<section id="about">

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <!-- <h2 class="section-heading">WHAT WE STAND FOR<br/>& OUR <b>PRINCIPLES</b></h2> -->
                <h1>About Us</h1>
                <div class="team-thumb overlay-image view-overlay">
                    <img src="/images/aboutUs.jpg" alt="" class="img-responsive">
                    <div class="mask team_quote">
                        <div class="port-zoom-link">

                            <p>We started Hakuna Matata in 2017 as a course project, and since our first day of developing this website it has been a baby to us. We have kept our website design targeted to students like us who were born in the late 80's and the 90's era. All this just to make sure our audience feel nostalgic while visiting our site. We’ve been bringing the best selection of products and merchandise to our customers. Our name has become synonymous with quality throughout the entire San Jose area. We do our best to ensure a that our event organizers are able to bring more and more people into their events and on the other side our members who go in those events get what they want at the lowest costs.
                            </p>

                        </div>
                        <img src="/images/aboutUs.jpg" alt="" align = "centre">
                    </div>
                </div>
                   <!-- <img src="/images/aboutUs.jpg" alt="" align = "centre"> -->
                <hr>
               <!-- <p>We started Hakuna Matata in 2017 as a course project, and since our first day of developing this website it has been a baby to us. We have kept our website design targeted to students like us who were born in the late 80's and the 90's era. All this just to make sure our audience feel nostalgic while visiting our site. We’ve been bringing the best selection of products and merchandise to our customers. Our name has become synonymous with quality throughout the entire San Jose area. We do our best to ensure a that our event organizers are able to bring more and more people into their events and on the other side our members who go in those events get what they want at the lowest costs.
                </p> -->
            </div>
        </div>
    </div>
</section>

<!-- Section after about
<!--- Section faltu -->
<section class="no-padding" id = "Make a Difference">
    <div class="equal-heights w-middle">
        <div class="col-md-4 bg-dark">
            <div class="box">
                <h2>Effects of <b>war on children </b></h2>
                <p>
                    Millions of children and young people worldwide are affected by armed conflict. They are confronted with physical harm, violence, danger, exploitation, fear and loss. Many children are forced to flee. Some witness the death of loved ones.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/images/poor.jpeg" alt="">
        </div>
        <div class="col-md-4 bg-dark">
            <div class="box">
                <h2>Did <b>you know?</b></h2>
                <p>
                    1 billion children worldwide are living in poverty. According to UNICEF, 22,000 children die each day due to poverty.
                </p>
            </div>
        </div>
    </div>
    <div class="equal-heights w-middle">
        <div class="col-md-4 bg-gray">
            <div class="box">
                <h2>Give <b>Cheerfully</b></h2>
                <p>
                    When we give cheerfully and accept gratefully, everyone is blessed. A bone to the dog is not charity. Charity is the bone shared with the dog, when you are just as hungry as the dog.
                </p>
            </div>
        </div>
      <div class="col-md-4 bg-primary">
            <div class="box">
                <h1>Make a Difference</h1>

                <a href="/giveBackHM" class="btn btn-round btn-white btn-xl">Give Back To Society</a>
            </div>
         </div>
        <div class="col-md-4 bg-gray">
            <div class="box">
                <h2>Enjoy <b>Life</b></h2>
                <p>
                    The simplest acts of kindness are by far more powerful then a thousand heads bowing in prayer. Let us not forget that the real solution lies in a world in which charity will be unnecessary.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="clearfix">
</div>



<!-- section faltu ends -->


<!-- Section Social
================================================== -->
<section id="social" class="parallax parallax-image" style="background-image:url(https://s3-eu-west-1.amazonaws.com/layanademo/s3-min.jpg);">
	<div class="overlay" style="background:#222;opacity:0.5;">
	</div>
	<div class="wrapsection">
		<div class="container">
			<div class="parallax-content">
				<div class="row wow fadeInLeft">
					<div class="col-md-3">
						<div class="funfacts text-center">
							<div class="icon">
								<a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a>
							</div>
							<h4>Twitter</h4>
						</div>
					</div>
					<div class="col-md-3">
						<div class="funfacts text-center">
							<div class="icon">
								<a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
							</div>
							<h4>Facebook</h4>
						</div>
					</div>
					<div class="col-md-3">
						<div class="funfacts text-center">
							<div class="icon">
								<a href="https://www.google.com/"><i class="fa fa-google"></i></a>
							</div>
							<h4>Google</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="clearfix">
</div>

<!-- Section Contact
================================================== -->
<section id="contact">
	<div ng-controller="sendEmail">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="section-heading">CONTACT <b>US</b></h2>
					<hr class="primary">
					<div class="regularform">
						<div class="done">
							<div class="alert alert-success">
								<button type="button" class="close" data-dismiss="alert">×</button>
								Your message has been sent. Thank you!
							</div>
						</div>
						<form method="post" action="contact.php" id="contactform" class="text-left">
							<input name="name" type="text" class="col-md-6 norightborder" placeholder="Your Name *">
							<input name="email" type="email" class="col-md-6" placeholder="E-mail address *">
							<textarea name="comment" class="col-md-12" placeholder="Message *"></textarea>
							<input type="submit" id="submit" class="contact submit btn btn-primary btn-xl" value="Send message">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section Footer
================================================== -->
<section class="bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="bottombrand wow flipInX">Hakuna Matata</h1>
				<p>
					As we say, It Means NO WORRIES!!!
				</p>
			</div>
		</div>
	</div>
</section>

<!-- jQuery -->
<script src="/temp/jquery.js"></script>
<script src="/temp/bootstrap.min.js"></script>
<script src="/temp/parallax.js"></script>
<script src="/temp/contact.js"></script>
<script src="/temp/countto.js"></script>
<script src="/temp/jquery.easing.min.js"></script>
<script src="/temp/wow.min.js"></script>
<script src="/temp/common.js"></script>
</body>
</html>